* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #011f47;
    color: #333;
}

header {
    background: #1e1e2f;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: rgb(2, 54, 41);
    margin-left: 20px;
    text-decoration: none;
}

.hero {
    background: #dfe6ff;
    text-align: center;
    padding: 60px 20px;
}

.services {
    padding: 40px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    box-shadow: 0 0 10px #ccc;
}

.contact {
    background: #ffffff;
    padding: 40px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: auto;
    background-color: #1e1e2f;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background: #1e1e2f;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background: #333;
}

footer {
    background: #03363f;
    color: white;
    text-align: center;
    padding: 15px;
}
.auth {
    background: #013517;
    padding: 40px;
    text-align: center;
    background-color: lawngreen;
}

.auth-forms {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: turquoise;
}

.auth-forms form {
    background: white;
    padding: 20px;
    width: 250px;
    box-shadow: 0 0 10px #ccc;
    background-color: aqua;
}
